/*RESET*/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}
/*END RESET*/

.page{
  height: 100vh;
}


/*box-sizing*/
html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Font Size*/

h1{
  font-size: 5.5vh;
  letter-spacing: 2px;
}

h2{
  font-size: 4vh;
  letter-spacing: 2px;
}

h3{
  font-size: 3vh;
  letter-spacing: 2px;
}

p{
  font-size: 2.5vh;
}

.icon{
  font-size: 6vh;
}

#front-page{
  background-color: #8CE0D5;
  color: white;
  text-align:center;

  display: flex;
  display: -webkit-flex;
  /*display: -webkit-flex;*/
  /*display: -ms-flexbox;  */

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  justify-content: space-around;
}


#logo{
  height: 25vh;
}

#picture-profile img{
  border-radius: 50%;
  height: 25vh;

}

#picture-profile{
  color: #3BA394;
}

#specialities{
  background-color: #EBEBEB;
  color: #717b7f;
  text-align:center;

  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0 10vw;
}

#specialities p {
    line-height: 1.5;
}

#contact{
  background-color: #717B7F;
  color: #717b7f;
  text-align:center;

  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#contact h2{
  color: #FFFFFF;
  padding: 2vh;
}

#contact p {
  color: #FFFFFF;
}

#contact-icon {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: white;
}

#contact-icon a{
  color: #FFFFFF;
  font-size: 6vh;
}

#contact-icon a:hover {
  color: #8CE0D5;
}


/*#form {
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 10vw;
}


input {
  padding: 3vh;
  border: none;
  border-bottom: 1px solid black;
  font-size: 3vh;
}

textarea{
  height: 25vh;
  resize: none;
  padding: 3vh;
  font-size: 3vh;
  display: inline-block
}


.buttonEmail {
  padding: 5vh 0;
  color: #fff;
  background-color: #717b7f;
  border: none;
  font-size: 4vh;
  font-weight: bold;
}

.buttonEmail:hover {
  color: #8CE0D5;
  cursor: pointer;
}*/
